<form id="chat-form">
  <input id="user" type="text" placeholder="Nombre de usuario">
  <input id="message" type="text" placeholder="Escribe un mensaje">
  <button type="submit">Enviar</button>
</form>

<ul id="messages"></ul>
<script src="/socket.io/socket.io.js"></script>