<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
</head>
<body>
   <div class="flex justify-center items-center min-h-screen bg-gray-100">
        <div class="max-w-md w-full px-6 py-8 bg-white shadow-md rounded-md">
            <h2 class="text-2xl font-semibold mb-4 text-center">Recuperación de Contraseña</h2>
            <form id="forgot-password-form" class="mb-4">
                <div>
                    <label for="email" class="block mb-1">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500" required>
                </div>
                <button type="submit" class="w-full mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring focus:ring-blue-200">Enviar</button>
            </form>
            <div id="password-container" style="display: none;">
                <p id="password-message" class="text-center text-gray-700"></p>
            </div>
        </div>
    </div>
    <script src="js/recover-password.js"></script>
</body>
</html>