<div class="container">
  <h1 class="text-center">Mira las Casas que tenemos para vos!</h1>
  <h3>{{error}}</h3>
  <div class="row m-3" id="productsList">
  </div>
</div>
<script src="/js/home.js"></script>
