<section class="flex-1 relative">
  <div class="absolute inset-0 z-0 overflow-hidden">
    <img
      src="https://imgs.search.brave.com/B7XJLrR9YA0hZId9NN_ZaDtqOss7wn2hcaPJw63KFs4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudG9ra29icm9r/ZXIuY29tL3BpY3R1/cmVzLzk0MjE4NTMy/ODM4NjA0NjEwMzQ1/Mzc2MTE3NTg4NzQ1/ODM5ODk5Mjk4NjAx/MDg0NTQyOTU4NTk2/OTMzNDIyMjMwMTA3/NzkwNjA0ODMuanBn"
      alt="Fondo"
      class="object-cover w-full h-auto md:h-full"
    />
    <div class="absolute inset-0 bg-black opacity-60"></div>
  </div>

  <div
    class="container mx-auto px-6 flex flex-col-reverse sm:flex-row items-center justify-center h-screen relative"
  >
    <div
      class="mx-auto max-w-4xl text-center sm:text-left mb-16 sm:mb-0 text-white"
    >

      <h1
        class="text-6xl font-extrabold tracking-tight leading-tight text-center"
      >¡Bienvenido!</h1>

      <p class="mt-8 text-3xl leading-8 text-center">Descubre tu próximo hogar
        en los lugares más encantadores.</p>

      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/productos"
          class="rounded-full bg-green-400 px-8 py-4 text-lg font-semibold text-white shadow-lg transition duration-200 transform hover:scale-105"
        >Explorar Propiedades</a>
      </div>
    </div>
  </div>
</section>

<div class="bg-gray-100 py-24 sm:py-32">
  <div class="container mx-auto px-6 lg:px-8">
    <div class="mx-auto max-w-7xl text-center">
      <h2 class="text-5xl font-semibold leading-10 text-black mb-8">Descubre las
        ventajas de elegir Inmobiliaria Dorado</h2>
      <p
        class="mt-2 text-2xl font-bold text-gray-900 sm:text-3xl text-black"
      >¡Haz realidad el sueño de tu Casa Propia!</p>
      <p class="mt-6 text-lg leading-7 text-black">En Inmobiliaria Dorado nos
        preocupamos por ofrecerte un servicio integral que abarca cada aspecto
        de tu experiencia de compra de vivienda. Aquí tienes algunos de nuestros
        principales servicios:</p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-16">

      <div
        class="rounded-lg overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 group"
      >
        <img
          src="https://imgs.search.brave.com/134bmQq5xOP6ryqjRxSaL6FGYDRV81LMkDSh4M6a1EU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kMWVp/cG0zdno0MGh5MC5j/bG91ZGZyb250Lm5l/dC9pbWFnZXMvU1NB/Qy1CbG9nL3NvbHVj/aW9uZXMtZXhwZXJp/ZW5jaWEtY2xpZW50/ZS5qcGc"
          alt="Asesoramiento Personalizado"
          class="w-full h-64 object-cover"
        />
        <div class="p-4">
          <h3 class="text-2xl font-semibold text-black">Asesoramiento
            Personalizado</h3>
          <p class="text-gray-600 text-lg mt-2">Nuestros expertos en bienes
            raíces están aquí para guiarte en cada paso del proceso de compra.
            Desde encontrar la propiedad perfecta hasta la finalización de la
            transacción, te brindamos un asesoramiento personalizado para
            asegurarnos de que tomes la mejor decisión.</p>
          <button class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href=""
              class="rounded-md bg-green-400 px-6 py-4 text-lg font-semibold text-white shadow-lg transition duration-200 transform hover:scale-105"
            >Descubrir</a>
          </button>
        </div>
      </div>

      <div
        class="rounded-lg overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 group"
      >
        <img
          src="https://imgs.search.brave.com/rvepn9ullPkGPOnyUoqPz3L4m-mIMANlqu8H1JikEmk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/Y2V1cGUuY29tL2lt/YWdlcy9lYXN5Ymxv/Z19hcnRpY2xlcy80/NTk0L2IyYXAzX2xh/cmdlX3F1ZS1zZS1o/YWNlLWVuLXVuYS1t/YWVzdHJpYS1lbi1m/aW5hbnphcy5qcGc"
          alt="Financiamiento Flexible"
          class="w-full h-64 object-cover"
        />
        <div class="p-4">
          <h3 class="text-2xl font-semibold text-black">Financiamiento Flexible</h3>
          <p class="text-gray-600 text-lg mt-2">Entendemos que cada cliente
            tiene necesidades financieras únicas. Por eso, ofrecemos opciones de
            financiamiento flexibles y personalizadas para ayudarte a hacer
            realidad tu sueño de tener tu propia casa, sin importar tu situación
            económica.</p>
          <button class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href=""
              class="rounded-md bg-green-400 px-6 py-4 text-lg font-semibold text-white shadow-lg transition duration-200 transform hover:scale-105"
            >Contactar</a>
          </button>
        </div>
      </div>

      <div
        class="rounded-lg overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 group"
      >
        <img
          src="https://imgs.search.brave.com/85eXJZEbDgnZRjAQHFIaSBibWk7IMsQHInqf4_TsgLQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/c2hpcGx5LmNvbS9p/bWcvYXJ0aWNsZS9l/cy90cmFuc3BvcnRl/cy15LW11ZGFuemFz/LTEuanBn"
          alt="Servicio de Mudanza"
          class="w-full h-64 object-cover"
        />
        <div class="p-4">
          <h3 class="text-2xl font-semibold text-black">Servicio de Mudanza sin
            Estrés</h3>
          <p class="text-gray-600 text-lg mt-2">Una vez que hayas encontrado tu
            hogar perfecto, nos encargamos de que la mudanza sea lo más fácil y
            libre de estrés posible. Con nuestro servicio de mudanza
            profesional, podrás trasladarte a tu nuevo hogar sin preocupaciones
            ni complicaciones.</p>
          <button class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href=""
              class="rounded-md bg-green-400 px-6 py-4 text-lg font-semibold text-white shadow-lg transition duration-200 transform hover:scale-105"
            >Descubrir</a>
          </button>
        </div>
      </div>

      <div
        class="rounded-lg overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 group"
      >
        <img
          src="https://imgs.search.brave.com/G-KTX9kKvbVuDC9TkQ0kOmDPDXH0Di_HkE9xQgWiib8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ibG9n/Lmh1YnNwb3QuZXMv/aHViZnMvbWVkaWEv/YXRlbmNpb25jbGll/bnRlb25saW5lLmpw/ZWc"
          alt="Soporte Post-Venta"
          class="w-full h-64 object-cover"
        />
        <div class="p-4">
          <h3 class="text-2xl font-semibold text-black">Soporte Post-Venta
            Confiable</h3>
          <p class="text-gray-600 text-lg mt-2">Nuestro compromiso contigo no
            termina en el momento de la compra. Estamos aquí para brindarte un
            soporte post-venta confiable y atento, para resolver cualquier duda
            o problema que puedas tener en tu nuevo hogar.</p>
          <button class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href=""
              class="rounded-md bg-green-400 px-6 py-4 text-lg font-semibold text-white shadow-lg transition duration-200 transform hover:scale-105"
            >Contactar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>