 <!-- Primera sección -->
    <section class="flex-1 relative text-gray-800">
        <!-- Fondo borroso izquierdo -->
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-180" aria-hidden="true">
            <div class="relative right-[calc(50%-11rem)] aspect-[1155/678] w-[90.125rem] -translate-y-1/2 rotate-[30deg] bg-gradient-to-tr from-[#00f5d4] to-[#fee440] opacity-100 sm:left-[calc(50%-30rem)] sm:w-[50.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/4 rotate-[30deg] bg-gradient-to-tr from-[#06d6a0] to-[#55dde0] opacity-100 sm:right-[calc(80%-50rem)] sm:w-[50.1875rem]" style="clip-path: polygon(94.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>

        <div class="container mx-auto px-6 flex flex-col-reverse sm:flex-row items-center justify-center h-screen relative">
            <!-- Contenido -->
            <div class="mx-auto max-w-3xl text-center sm:text-left mb-16 sm:mb-0">
                <h1 class="text-5xl font-extrabold tracking-tight sm:text-7xl text-[#333333] leading-tight">¡Bienvenido!</h1>
                <p class="mt-6 text-xl text-[#666666] leading-8 text-center">Explora nuestras increíbles propiedades en las ubicaciones más deseables.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/products" class="rounded-full bg-[#ffff3f] hover:bg-[#ffd300] px-6 py-3 text-lg font-semibold text-black shadow-lg transition duration-300 transform hover:scale-105">Ver Propiedades</a>
                </div>
            </div>
        </div>
      
    </section>


