<section class="flex-1 relative text-gray-800">
    <!-- Fondo borroso izquierdo -->
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-180" aria-hidden="true">
        <div class="relative right-[calc(25%-20rem)] aspect-[1155/678] w-[90.125rem] -translate-y-1/2 rotate-[30deg] bg-gradient-to-tr from-[#0081a7] to-[#00f5d4] opacity-100 sm:left-[calc(50%-30rem)] sm:w-[50.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        <div class="relative left-[calc(50%-30rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/4 rotate-[30deg] bg-gradient-to-tr from-[#0081a7] to-[#00f5d4] opacity-100 sm:left-[calc(80%-50rem)] sm:w-[50.1875rem]" style="clip-path: polygon(94.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>

    <div class="container mx-auto px-6 flex flex-col-reverse sm:flex-row items-center justify-center h-screen relative">
        <!-- Contenido -->
        <div class="mx-auto max-w-3xl text-center sm:text-left mb-16 sm:mb-0">
            <h1 class="text-6xl font-extrabold tracking-tight sm:text-7xl text-red-800 leading-tight text-center">¡Bienvenido!</h1>
            <p class="mt-8 text-3xl text-[#666666] leading-8 text-center">Explora nuestras increíbles propiedades en las ubicaciones más deseables.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/products" class="rounded-full bg-[#000] hover:bg-red-800 px-6 py-3 text-lg font-semibold text-white shadow-lg transition duration-300 transform hover:scale-105">Ver Propiedades</a>
            </div>
        </div>
    </div>
</section>

<div class="bg-trasparent py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-4xl font-semibold leading-7 text-red-800">Inmobiliaria Dorado</h2>
      <p class="mt-2 text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">El sueño de la Casa Propia es Posible ahora!</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Nos centramos en ayudarte en estos 4 puntos fundamentales</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-house-check-fill" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
  <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
</svg>
            </div>
            Tu casa Propia
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Tu casa propia es el inicio de un nuevo capítulo en tu vida. Es donde la comodidad y la felicidad se encuentran en cada rincón. No esperes más, crea tu propio hogar y comienza a vivir tus sueños</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-cash" viewBox="0 0 16 16">
  <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
  <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
</svg>
            </div>
            Financiamientos
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">En Inmobiliaria Dorado, hacemos realidad tu sueño de tener tu propia casa. Te ayudamos a financiarla para que puedas disfrutar de un hogar que es tuyo en todos los sentidos. Deja que la libertad y la estabilidad de la propiedad sean parte de tu vida.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-box-seam" viewBox="0 0 16 16">
  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443 .184z"/>
</svg>
            </div>
            Servicio de Mudanza 100% Free
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">En Inmobiliaria Dorado, nos encargamos de tu mudanza por completo. Ofrecemos un servicio de mudanza 100% gratuito para que puedas trasladarte sin preocupaciones. Tu transición a tu nuevo hogar será suave y sin costos adicionales. Confía en nosotros para hacer que el cambio sea lo más sencillo posible.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-red-800">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-file-bar-graph" viewBox="0 0 16 16">
  <path d="M4.5 12a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z"/>
  <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
</svg>
            </div>
            Nos encargamos del Papeleo!
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">En Inmobiliaria Dorado, te liberamos de la carga del papeleo. Nos ocupamos de todos los trámites y documentos, para que puedas enfocarte en disfrutar de tu nuevo hogar. Deja que nosotros nos encarguemos de los detalles y la burocracia, mientras tú te relajas y disfrutas de tu propiedad sin preocupaciones</dd>
        </div>
      </dl>
    </div>
  </div>
</div>

