<div class="min-h-screen flex items-center justify-center bg-blue-900">
  <div class="bg-white p-6 rounded-lg shadow-md w-96 transition-transform transform hover:scale-105 duration-300">
    <div class="flex items-center justify-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="black" class="bi bi-person-circle text-blue-500 text-4xl mr-2" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <h1 class="text-4xl font-semibold text-gray-800">Welcome back!</h1>
    </div>
    <form id="loginForm">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        class="w-full p-3 mb-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
        required
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        class="w-full p-3 mb-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
        required
      />
      <a
        href="/register"
        class="text-blue-500 hover:underline text-sm"
      >
        Don't have an account yet? Sign up here.
      </a>
      <button
        type="submit"
        class="w-full mt-5 p-3 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-300 shadow-sm"
      >
        Login
      </button>
    </form>

    <p id="error-message" class="text-red-500 mt-4 text-sm"></p>
  </div>
</div>
<script src="/js/login.js"></script>