<div class="min-h-screen flex items-center justify-center bg-orange-400">
  <div class="bg-white p-10 rounded-lg shadow-md w-96 sm:w-96 md:w-96 lg:w-96 xl:w-96 2xl:w-96 transition-transform transform hover:scale-105 duration-300">
    <div class="flex items-center justify-center mb-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="black" class="bi bi-person-circle text-blue-500 text-6xl mr-2" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <h1 class="text-5xl font-semibold text-gray-800">Welcome!</h1>
    </div>
    <form id="loginForm">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        class="w-full p-4 mb-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-500"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        class="w-full p-4 mb-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-500"
      />
      <a
        href="/register"
        class="text-orange-500 hover:underline text-lg"
      >
       Sign up here.
      </a>
      <button
        type="submit"
        class="w-full mt-5 p-4 bg-orange-500 text-white rounded  focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-300 shadow-sm"
      >
        Login
      </button>
      <button id="google-login" class="w-full mt-4 p-4 rounded bg-red-600 transition-all duration-300 text-white flex items-center justify-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google mr-4" viewBox="0 0 16 16">
  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
</svg>
        Login with Google
      </button>
    </form>
    <p id="error-message" class="text-red-500 mt-5 text-lg"></p>
  </div>
</div>
<script src="/js/login.js"></script>