<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado</title>
</head>
<body>
    <h1>Correo Electrónico Enviado</h1>
    <p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña. Verifica tu bandeja de entrada.</p>
</body>
</html>