<h1 id="product">Product: {{productId}}</h1>
<div id="productContainer">
</div>
<form id="addCartForm">
  <input type="number" id="quantity" value="1" />
  <button type="submit">Add to cart</button>
</form>
<script src="/js/product.js"></script>