<div class="container">
   <section class="bg-black text-white py-16">
    <div class="container mx-auto text-center">
        <h1 class="text-6xl font-semibold mb-4">¡Encuentra Tu Hogar Ideal!</h1>
        <p class="text-xl mb-8">Explora nuestras espectaculares propiedades en ubicaciones de ensueño.</p>
        <button class="bg-white text-black hover:bg-yellow-500 text-red font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out inline-flex items-center">
            Continua Bajando
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down ml-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </button>
    </div>
</section>
  
  <h3 class="text-red-500 bg-black">{{error}}</h3>
  <div class="row m-10" id="productsList">
    <!-- Aquí se mostrarán las propiedades -->
    
  </div>
  
  
<div class="flex justify-center mb-5">
  <button id="prevPage" class="flex items-center text-gray-500 hover:text-gray-700 bg-blue-900 m-5 p-3 rounded-full">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    <h5 class="text-white ml-2"></h5> 
  </button>
  <button id="nextPage" class="flex items-center text-gray-500 hover:text-gray-700 bg-green-500 m-5 p-3 rounded-full ">
    <h5 class="text-white mr-2"></h5>
    <svg xmlns="http://w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </button>
</div>


<script  src="/js/home.js"></script>
<script  src="/js/cart.js"></script>
