<div class="container mx-auto mt-10 text-center" id="profile">
    <h1 class="text-3xl font-bold mb-4">User Profile</h1>
    <p class="mb-6">Welcome to your profile page.</p>

    <div id="profile-details">
        <!-- Mostrar información del perfil aquí -->
    </div>

    <form id="logoutForm">
        <button type="button" id="logoutButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Log Out
        </button>
    </form>
</div>
<script src="/js/profile.js"></script>