<div class="container mx-auto mt-10 text-center" id="profile">
    <h1 class="text-6xl font-bold mb-4">User Profile</h1>
    <h3 class="mb-6 text-4xl">Welcome to your Profile Page</h3>

    <div id="profile-details">
        <!-- Los detalles del perfil se cargarán aquí -->
    </div>

    <form id="logoutForm">
        <button type="button" id="logoutButton" class="bg-red-500 hover:bg-red-700 text-white font-bold py-8 px-8 rounded mt-5">
            Log Out
        </button>
    </form>
</div>
<script src="/js/profile.js"></script>