<div class="container">
  <h1 class="text-center">Agregar Ubicaciones</h1>
  <h3>{{error}}</h3>
  <div class="main">
    <ul id="productsList">
      <!-- Aquí se mostrarán los productos -->
    </ul>
    <div class="forms">
      <!-- Formulario para agregar un producto -->
      <form id="addProductForm ">
        <h3>ADD PRODUCT</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control mb-2"
            name="newProductTitle"
            id="newProductTitle"
            placeholder="Título del producto"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control mb-2"
            name="newProductDescription"
            id="newProductDescription"
            placeholder="Descripción del producto"
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control mb-2"
            name="newProductPrice"
            id="newProductPrice"
            placeholder="Precio del producto"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control mb-2"
            name="newProductCode"
            id="newProductCode"
            placeholder="Código del producto"
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control mb-2"
            name="newProductStock"
            id="newProductStock"
            placeholder="Stock del producto"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control "
            name="newProductCategory"
            id="newProductCategory"
            placeholder="Categoría del producto"
          />
        </div>
        <button type="submit" class="btn btn-outline-success mt-4">Add Product</button>
      </form>

      
      <form id="updateProductForm">
        <h3 class="mt-5">UPDATE PRICE</h3>
        <div class="form-group">
          <input
            type="number"
            class="form-control mb-2"
            name="updateProductId"
            id="updateProductId"
            placeholder="ID del producto Actualizado"
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            name="updateProductPrice"
            id="updateProductPrice"
            placeholder="Actualiza el Precio"
          />
        </div>
        <button type="submit" class="btn btn-outline-warning mt-4">Update</button>
      </form>

      <!-- Formulario para eliminar un producto -->
      <form id="deleteForm">
        <h3 class="mt-5">DELETE PRODUCT</h3>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            name="deleteProductId"
            id="deleteProductId"
            placeholder="ID del producto a eliminar"
          />
        </div>
        <button type="submit" class="btn btn-outline-danger mb-5 mt-4">Delete</button>
      </form>
    </div>
  </div>
</div>

<script src=""></script>
<script type="module" src="/js/realTimeProducts.js"></script>