<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Olvido de Contraseña</title>
</head>

<body>
    <div class="max-w-md mx-auto my-12 p-6 bg-white rounded-md shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Olvido de Contraseña</h2>
        <form action="/recovering" method="POST">
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
                <input type="email" name="email" id="email" class="mt-1 p-2 w-full border rounded-md" required>
            </div>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-md"><a href="/reset-password/:token">Send Email</a></button>
        </form>
    </div>
    <script src="/js/recovering.js"></script>
</body>

</html>