<section class="flex flex-col lg:flex-row h-screen items-center bg-white">

  <div class="bg-white hidden lg:block w-full lg:w-2/3 h-screen">
    <img src="https://source.unsplash.com/random" alt="" class="w-full h-full object-cover">
  </div>

  <div class="bg-white w-full lg:max-w-md lg:mx-auto lg:w-1/2 xl:w-1/3 h-screen px-6 lg:px-16 xl:px-12
        flex items-center justify-center">

    <div class="w-full ">

      <h1 class="text-3xl md:text-3xl lg:text-3xl font-bold leading-tight  text-center lg:text-left">Register To Inmobiliaria Don Mario</h1>

      <form id="registerForm" >
        <div class="mb-4 flex flex-wrap">
          <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
            <label for="first_Name" class="block text-sm font-semibold text-gray-700 mb-2">First Name</label>
            <input type="text" id="first_Name" name="first_Name" class="w-full py-2 px-10 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your first name" required>
          </div>
          <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 mt-5">
            <label for="last_Name" class="block text-sm font-semibold text-gray-700 mb-2">Last Name</label>
            <input type="text" id="last_Name" name="last_Name" class="w-full py-3 px-10 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your last name" required>
          </div>
        </div>

        <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
          <label for="email" class="block text-sm font-semibold text-gray-700 mb-2">Email</label>
          <input type="email" id="email" name="email" class="w-full py-3 px-10 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your email address" required>
        </div>

        <div class="transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 mt-5">
          <label for="password" class="block text-sm font-semibold text-gray-700 mb-2">Password</label>
          <input type="password" id="password" name="password" class="w-full py-3 px-10 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Enter your password" required>
        </div>

        <button type="submit" class="w-full mt-5 p-4 bg-pink-500 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-300 shadow-sm transform hover:-translate-y-1 hover:scale-110">
          Register
        </button>
        <button  class="w-full mt-5 p-4 bg-green-500 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-300 shadow-sm transform hover:-translate-y-1 hover:scale-110">
          <a href="/">Go to Login</a>
        </button>
      </form>



     <button type="button" id="google-register" class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300 transition-all duration-300 transform hover:-translate-y-1 hover:scale-110">
        <div class="flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48">
            <defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
          <span class="ml-4">
            Log in with Google
          </span>
        </div>
      </button>

     

      <div id="error-message" class="text-red-500 mt-4 text-lg text-center"></div>

    </div>
  </div>

</section>


<script src="/js/register.js"></script>