<div class="min-h-screen flex items-center justify-center bg-orange-400">
  <form id="registerForm" method="POST" class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg ">
    <div class="mx-auto mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="106" height="106" fill="black" class="bi bi-person-fill-add mx-auto " viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
      </svg>
    </div>
    <h1 class="text-4xl font-bold text-center mb-6 text-black">REGISTER</h1>

    <div class="mb-4 flex flex-wrap">
      <div class="w-full md:w-1/2 pr-2">
        <label for="first_name" class="block text-sm font-semibold text-gray-700 mb-2 italic">First Name</label>
        <input type="text" id="first_name" name="first_name" class="w-full py-3 px-4 border border-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400" required>
      </div>
      <div class="w-full md:w-1/2 pl-2">
        <label for="last_name" class="block text-sm  font-semibold text-gray-700 mb-2 italic">Last Name</label>
        <input type="text" id="last_name" name="last_name" class="w-full py-3 px-4 border border-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400" required>
      </div>
    </div>

    <div class="mb-4">
      <label for="email" class="block text-sm  font-semibold text-gray-700 mb-2 italic">Email</label>
      <input type="email" id="email" name="email" class="w-full py-3 px-4 border border-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400" required>
    </div>

    <div class="mb-4">
      <label for="password" class="block text-sm  font-semibold text-gray-700 mb-2 italic">Password</label>
      <input type="password" id="password" name="password" class="w-full py-3 px-4 border border-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400" required>
    </div>

    <button type="submit" class="w-full p-4 text-lg font-semibold text-white bg-orange-500 hover:bg-orange-700  focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-300">
  Register
</button>

<button
  id="github-register"
  class="w-full mt-5 p-4 bg-black text-white  flex items-center justify-center space-x-2  focus:outline-none focus:ring-2 focus:ring-blue-400 transition-all duration-300 shadow-lg"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="mr-2" viewBox="0 0 16 16">
    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.20-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2.00-.27.68 0 1.36.09 2.00.27 1.53-1.04 2.20-.82 2.20-.82.44 1.10.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.20 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
  </svg>
  <p class="text-xg font-semibold">Register From GitHub</p>
</button>
  </form>
  <div id="error-message" class="text-red-500 mt-4 text-lg"></div>
</div>
    <script src="/js/register.js"></script>