<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecimiento de Contrase単a</title>
</head>

<body>
    <div class="max-w-md mx-auto my-12 p-6 bg-white rounded-md shadow-md">
        <h2 class="text-2xl font-semibold mb-4">Restablecimiento de Contrase単a</h2>
        <form action="/recovering/reset/{{token}}" method="POST">
            <div class="mb-4">
                <label for="newPassword" class="block text-sm font-medium text-gray-600">Nueva Contrase単a</label>
                <input type="password" name="newPassword" id="newPassword" class="mt-1 p-2 w-full border rounded-md"
                    required>
            </div>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-md">Restablecer Contrase単a</button>
        </form>
    </div>
    <script src="/js/reset.js"></script>
</body>

</html>