<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Password</title>
</head>
<body>
    <h1>Password View</h1>
    <div>
        <p>Contrase침a del usuario:</p>
        <p id="user-password">{{ password }}</p>
    </div>
    <button onclick="redirectToForgotPassword()">Volver a la p치gina de recuperaci칩n de contrase침a</button>
    
<script src="/js/password.js"></script>
</body>
</html>