<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inmobiliaria Don-Mario</title>
    <link href="/dist/output.css" rel="stylesheet">
  </head>

  <body>
<nav class="bg-black">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-36">
        <!-- Logo -->
        <a href="/" class="flex-shrink-0 flex items-center mt-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="white" class="h-8 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 4.712 4.712A4.5 4.5 0 0 0 8.758 15H3.5A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
          </svg>
          <span class="ml-2 text-white text-lg font-semibold ">Don Mario</span>
        </a>

        <!-- Menú móvil -->
        <div class="flex items-center sm:hidden">
          <button id="mobile-menu-button" class="text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6 transform hover:rotate-90 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>

        <!-- Menú de navegación -->
       <div class="hidden sm:flex sm:space-x-4 mt-5">
    <a href="/home" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
        </svg>
        <span class="text-lg">Home</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
    <a href="/products" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
        </svg>
        <span class="text-lg">Buildings</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
    <a href="/cart" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
        <span class="text-lg">Orders</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
</div>







        <!-- Iconos notificaction and Profile -->
        <div class="hidden sm:flex sm:items-center sm:ml-6 ">
          <button class="text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 transition-colors duration-300 mt-5">
            <span class="sr-only mt-5">View notifications</span>
            <svg class="h-6 w-6 transform hover:scale-110 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"></path>
            </svg>
          </button>

          <!-- Perfil del usuario -->
          <div class="ml-3 relative ">
            <button class="text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 transition-colors duration-300 mt-5">
              <a href="/profile" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>
        <span class="text-lg">Profile</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Menú móvil (oculto por defecto) -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1">
       <a href="/home" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
        </svg>
        <span>Home</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
    <a href="/products" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z" />
        </svg>
        <span>Buildings</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
    <a href="/cart" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
</svg>
        <span>Orders</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>
    

    <a href="/profile" class="text-white hover:text-white px-3 py-2 text-sm font-medium flex items-center space-x-2 transition-colors  hover:scale-110 transition-transform">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="h-6 w-auto transform hover:scale-110 transition-transform" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>
        <span>Profile</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="w-4 h-4 ml-1 transform rotate-180 hover:scale-110 transition-transform" viewBox="0 0 16 16">
            <path d="M6.354 11.354a.5.5 0 0 0 0-.708L2.707 7.5H12.5a.5.5 0 0 0 0-1H2.707l3.647-3.646a.5.5 0 0 0 0-.708a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708 0z" />
        </svg>
    </a>


      </div>
    </div>
  </div>
</nav>


    {{{body}}}

 
 
<script src="/socket.io/socket.io.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/botonMobile.js"></script>
  </body>

</html>